@import url('https://fonts.googleapis.com/css2?family=Jost:ital@0;1&display=swap');
@import "tailwindcss";

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  
}
@theme {
  /* Colors */
  --color-black: #000000; 
  --color-blackDOA: #110D0A; 
  --color-black222: #222222; 
  --color-grayBg: #F3F3F3; 
  --color-gray75: #757575; 

  /* fonts  */
   --font-jost: "Jost", sans-serif; 

}
