@import url('https://fonts.googleapis.com/css2?family=Jost:ital@0;1&display=swap');
@import "tailwindcss";

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  
}
.box{
  filter: drop-shadow(0 4px 4px rgba(0,0,0,0.32));
  position: relative;
  
}
.box::after{
  /* height: 0;
 
  
 
  
  bottom: -34px;
  left: 0px;
 */
 content: " ";
 height: 0px;
 width: 0px;
  border-left: 20px solid #EFEFEF;
  border-right: 20px solid transparent;
  border-top: 20px solid #EFEFEF;
  border-bottom: 20px solid transparent;
  position: absolute;
  z-index: 10;
  left: 0px;
  bottom: -34px;
  

}

@theme {
  /* Colors */
  --color-black: #000000; 
  --color-blackDOA: #110D0A; 
  --color-black222: #222222; 
  --color-grayBg: #F3F3F3; 
  --color-gray75: #757575; 

  /* fonts  */
   --font-jost: "Jost", sans-serif; 

}
